*¨{
    color: #1E1E1E
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;

    margin: unset;
    padding: unset;


    outline: unset;
    border: unset;

    box-sizing: border-box;
}

ul{
    list-style: none;
} 
   
a    {  
    text-decoration: none;
    color: #1E1E1E;
}
 
body{ 
    background-color: #F5F5F5;
    
}

.jumbotron-publicidad
    height: 596px;
    width: 1157px;
    background-color: #4D4D4D
    
    #titulo-publicidad{
        font-size: 2em; 
        color grey: #ffffff;
        text-align: center;

    }

    .mi-button{
        background-color: #999999;
        color: #4D4D4D;
        border-radius: 50px;
        padding: 10px 183px;
        font-size: 25px;
        font-weight: 300;
        cursor: pointer;

    }

    .mi-bottun:hover{
        background-color: #367c39; /* Cambia el color de fondo al pasar el mouse */
        color: #ffffff; /* Cambia el color del texto al pasar el mouse */

    }
    .navbar__imagen-publicitaria{
        font-size: 64px;
        color: #333;
        font-weight: 700;

    }        font-weight: 700;
    }
}   
.navbar__publicidad{

}




    
    
    : unset;
    padding: unset;

    outline: unset;
    border: unset;
    box-sizing: border-box;
}
ul{
    list-style: none;
  
}

a{
    text-decoration: none;
    color: #0d0d0d;

}



.menu-superior{
    display: flex;
    gap: 32px;
    align-items: center;
    .menu-superior li
    }









